body {
  margin: 20px;
}

.masonry-grid {
  display: flex;
  margin-left: 10px; 
  margin-right: 10px; 
  width: auto;
}

.masonry-column {
  padding: 0 7px; /* Adjust based on your gutter/padding size */
  background-clip: padding-box;
}

.image-card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}
